@media (max-width: 1200px) {
    .filter-item {
        width: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

.studio-hr {
    line-height: 1em;
    position: relative;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: 0.5;
    background-color: white;
}

.studio-hr:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.studio-hr:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: #818078;
    background-color: white;
}

.filters-container {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.recent-pics {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.filters-container::-webkit-scrollbar {
    display: none;
}

.recent-pics::-webkit-scrollbar {
    display: none;
}

#video {
    width: 100%;
}

/* Bouttons studio-container */
@media (max-width: 280px) {
    .is-mobile-responsive {
        font-size: .40rem !important;
    }
}

@media (min-width: 281px) and (max-width: 560px) {
    .is-mobile-responsive {
        font-size: .55rem !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .is-mobile-responsive {
        font-size: .75rem !important;
    }
}
