.home {
    background-image: url("/Media/assets/background.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}

.home .title {
    font-size: 4rem;
}

.project {
    color: #00d1b2;
}

.description {
    width: 40vw;
}

.home .a {
    color: #00d1b2 !important;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .home {
        background-image: none;
    }

    .home .title {
        font-size: 3rem;
    }

    .description {
        width: 80vw;
    }
}