.media-comments-content {
    overflow-y: scroll;
    height: 25vh;
    width: 100%;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.media-comments-content::-webkit-scrollbar {
    display: none;
}

.description {
	word-break: break-all;
}

.biography {
	word-break: break-all;
}

.comment {
	word-break: break-all;
}